<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<!-- <context:component-scan base-package="sample01"/> -->
	<!-- <context:component-scan base-package="sample02"/>  --> <!-- 이걸 열어놓으면 어노테이션 방식으로 실행. -->
	<!-- <context:component-scan base-package="sample03"/> -->
	
	<context:component-scan base-package="spring.conf"/> <!-- 이걸 열어놓으면 자바방식 실행. spring.conf의 SpringConfiguration	파일을 읽어와.-->
	
	<!-- sample04 -->
	<context:component-scan base-package="sample04"/>
</beans>
